#message {
    width: 250px;
}

#panel {
    height: 300px;
    overflow: auto;
    max-height: 300px;
}

#emoji, #sound {
    margin-left: 10px;
}

#icon {
    font-size: 20px;
}

table {
    table-layout: fixed;
}

.name {
    float: left;
}

.msg {
    word-wrap: break-word;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
}

.timestamp {
    float: right;
    font-size: 8pt;
    font-weight: bold;
}

.pm, .mention {
    color: #eb9d00;
    font-weight: bold;
}

.emote {
    font-style: italic;
}

.alert, .kick, .op, .deop {
    color: #f55549;
    font-style: bold;
}

.info {
    color: #55aef6;
    font-style: bold;
}

.light {
    color: #616161;
}

.message {
    color: #2b2b2b;
    margin-top: 5px;
}

.spin {
    -webkit-animation: spin 1500ms infinite linear;
    animation: spin 1500ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}